# 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

In [1]:
import pandas as pd
import numpy as np
import random

In [5]:
data = {'國家': ['TW',  'USA', 'CCC']  , '人口':random.sample(range(10000, 50000), 3)}
visitors_1 = pd.DataFrame(data)
print(visitors_1)

    國家     人口
0   TW  45411
1  USA  35565
2  CCC  47845

In [13]:
visitors_1[visitors_1[ '人口' ] == visitors_1[ '人口' ].max()]

    國家     人口
2  CCC  47845

In [14]:
visitors_1

    國家     人口
0   TW  45411
1  USA  35565
2  CCC  47845

In [4]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))

In [5]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456